/* Space out content a bit */
body {
  padding-top: 80px;
  padding-bottom: 20px;
}

#map-canvas {
  width: 100%;
  height: 600px;
} 

.board-details-image-sized {
  height: 200px;
  width: 200px;
}

.cleafix,
.cleafix:before,
.cleafix:after {
  clear: both;
}
