<div class="col-md-6" >
  <div class="well bs-component" style="display: inline-block; ">
    <h3>Информация о борде:</h3>

    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Формат/Размер</label>
      <div class="col-lg-6" >{{data.board.boardFormat}}</div>
    </div>

    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Район</label>
      <div class="col-lg-6" >{{data.board.address.district}}</div>
    </div>

    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Адрес</label>
      <div class="col-lg-6" >{{data.board.address.fullAddress}}</div>
    </div>

    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Стороны</label>
      <div class="col-lg-6" >{{data.board.sides}}</div>
    </div>

    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Направление сторон</label>
      <div class="col-lg-6" >{{data.board.sideDirections}}</div>
    </div>

    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Наличие подсветки</label>
      <div class="col-lg-6" >{{data.board.isBacklight}}</div>
    </div>

    <div ng-show="data.board.dayPhoto" class=" col-lg-12">
      <label class="col-lg-6 control-label">Фото днём</label>
      <div class="col-lg-6 board-details-image-sized" back-img="{{data.board.dayPhoto.url}}"></div>
    </div>

    <div ng-show="data.board.nightPhoto" class=" col-lg-12">
      <label class="col-lg-6 control-label">Фото ночью</label>
      <div class="col-lg-6 board-details-image-sized" back-img="{{data.board.nightPhoto.url}}"></div>
    </div>

    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Тип поверхности</label>
      <div class="col-lg-6" >{{data.board.surface.name}}</div>
    </div>

    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Дальность просматриваемости</label>
      <div class="col-lg-6" >{{data.board.range}}</div>
    </div>

    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Поток в будние дни</label>
      <div class="col-lg-6" >{{data.board.weekdayFlow}}</div>
    </div>


    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Поток в выходные дни</label>
      <div class="col-lg-6" >{{data.board.dayOffFlow}}</div>
    </div>


    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Стоимость(не виден до регистрации)</label>
      <div class="col-lg-6" >{{data.board.price}}</div>
    </div>


    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Минимальный срок аренды</label>
      <div class="col-lg-6" >{{data.board.minRentDuration}}</div>
    </div>


    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Стоимость монтажа/демонтажа</label>
      <div class="col-lg-6" >{{data.board.installationPrice}}</div>
    </div>

    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">График занятости</label>
      <div class="col-lg-6" ></div>
      <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="calendar"></div>
    </div>


    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Примечание</label>
      <div class="col-lg-6" >{{data.board.notes}}</div>
    </div>


    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Дополнительное описание</label>
      <div class="col-lg-6" >{{data.board.additionalDescription}}</div>
    </div>


    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Перекрестки</label>
      <div class="col-lg-6" >{{data.board.crossroads}}</div>
    </div>


    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Остановки</label>
      <div class="col-lg-6" >{{data.board.stops}}</div>
    </div>


    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Торговые центры и социально-культурные объекты вблизи</label>
      <div class="col-lg-6" >{{data.board.entertainmentCenters}}</div>
    </div>


    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Светофоры в зоне видимости</label>
      <div class="col-lg-6" >{{data.board.pedestrianCrossings}}</div>
    </div>


    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Пешеходные переходы в зоне видимости</label>
      <div class="col-lg-6" >{{data.board.pedestrianCrossings}}</div>
    </div>


    <div class=" col-lg-12">
      <label class="col-lg-6 control-label">Наличие узкой специализации площадки</label>
      <div class="col-lg-6" >{{data.board.narrowArea}}</div>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="well bs-component">

    <h3>Заказ борда</h3>

    <div class="alert alert-danger" role="alert" ng-show="errorMessage != null">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{errorMessage}}
    </div>

    <div class="alert {{message.type}}" ng-class="message.type" role="alert" ng-show="message != null">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{message.text}}
    </div>

    <div class="row">

      <div class="col-md-6">
        <label>С</label>
        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="opened"
                 min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"
                 date-disabled="disabled(date, mode)" ng-required="true" show-button-bar="false" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
      </div>

      <div class="col-md-6">
        <label>По</label>
        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="openedSecond"
                 min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"
                 date-disabled="disabled(date, mode)" ng-required="true" show-button-bar="false" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
      </div>

      <div class="col-md-12">

        <input class="btn btn-primary" type="submit" ng-click="orderBoard()" value="Заказать" />
      </div>

      <div class="col-md-12">

     <leaflet defaults="defaults" markers="curMarkers" layers=layers center="minskCenter" height="480px" width="640px"></leaflet>

<!--         <ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events">

          <ui-gmap-marker ng-repeat="marker in curMarkers"
                          coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
            <ui-gmap-window options="marker.windowOptions" closeClick="marker.closeClick()">
              <div>
                  <div>Описание: {{marker.board.additionalDescription}}</div>
                  <div>Цена: {{marker.board.price}}</div>
                  <div><a href='#/boards/{{marker.board.id}}'>Подробнее</a></div>
              </div>
            </ui-gmap-window>
          </ui-gmap-marker>
        </ui-gmap-google-map> -->
      </div>

    </div>

  </div>
</div>

