<div>

    <div class="row" >

        <div ng-show="errorMessage" id="login-error-js" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          {{errorMessage}}
        </div>

        <div class="col-md-12">
          <div class="well bs-component">
            <form class="form-horizontal" ng-submit="logIn()">
                <fieldset>
                    <legend>Войти в систему</legend>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">e-mail</label>
                        <div class="col-lg-10">
                             <input id="username-js" ng-model="authData.username" type="text" class="form-control" placeholder="e-mail" required autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-2 control-label">Пароль</label>
                        <div class="col-lg-10">
                            <input id="password-js" ng-model="authData.password" type="password" class="form-control" placeholder="Пароль" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary">Войти</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $.material.init();
    });
</script>

