<div class="row">
  <div class="col-md-4">
    <h3>Фильтр</h3>
    <form>
      <div class="form-group">
        <label for="filterSurfaceType">Тип поверхности</label>
        <select id="filterSurfaceType" class="form-control" ng-model="filterData.filterSurfaceType"
            ng-options="opt as opt.label for opt in surfaceTypes">
        </select>
      </div>

      <div class="form-group">
        <label for="filterData.filterAddress">Улица</label>
        <input class="form-control" type="text" id="filterAddress" ng-model="filterData.filterAddress" maxlength="50"/>
      </div>

      <div class="form-group">
        <label for="filterDistinct">Район</label>
         <input class="form-control" type="text" id="filterDistinct" ng-model="filterData.filterDistinct" maxlength="50"/>
      </div>

      <div class="form-group">
        <label for="filterPlaces">Рядом с</label>
        <input class="form-control" type="text" id="filterPlaces" ng-model="filterData.filterPlaces" maxlength="50"/>
      </div>

      <div class="form-group">
        <label for="filterPriceFrom">Цена от</label>
        <input class="form-control" type="number" id="filterPriceFrom" ng-model="filterData.filterPriceFrom" />
      </div>

      <div class="form-group">
        <label for="filterPriceTo">Цена до</label>
        <input class="form-control" type="number" id="filterPriceTo" ng-model="filterData.filterPriceTo" />
      </div>

      <div class="form-group">
        <label for="filterSurfaceType">Свободен в период</label>
        <input type="text" disabled/>
        </select>
      </div>

      <button type="button" ng-click="filterBySelectValues()" class="btn btn-default">Найти</button>
    </form>
  </div>

  <div class="col-md-8 well bs-component">
     <leaflet defaults="defaults" markers="markers" layers="layers"  center="minskCenter" height="480px" width="640px"></leaflet>

    <!-- <ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events" >

        <ui-gmap-markers doCluster="true" models="markers" coords="'self'" clusterEvents="clusterEvents" options="markersOptions"events="markerEvents">
            <ui-gmap-windows>
              <div>
                  <div ng-non-bindable>Описание: {{board.additionalDescription}}</div>
                  <div ng-non-bindable>Цена: {{board.price}}</div>
                  <div ng-non-bindable><a href='#/boards/{{board.id}}'>Подробнее</a></div>
              </div>
            </ui-gmap-windows>
        </ui-gmap-markers>

    </ui-gmap-google-map> -->
  </div>
</div>